body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensure the Three.js Canvas stays behind everything */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /* Puts the globe in the background */
  pointer-events: none;
  /* Allows you to click buttons on the UI */
}

#root {
  position: relative;
  z-index: 1;
  background: transparent !important;
  min-height: 100vh;
}

/* Make sure the main sections are transparent to show the globe */
#home,
.container {
  background: transparent !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}